* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary: #ffffff;
    --secondary: rgb(161 233 245);
    --accent: rgb(111 183 195);
    --hover: rgb(61 133 145);
    --green-btn: rgb(49 196 54);
    --green-btn-hover: rgb(19 166 24);
    --red-btn: rgb(255 89 89);
    --red-btn-hover: rgb(225, 59, 59);
    /* Fonts */
    --heading: "Roboto", sans-serif;
    --text: "Poppins", sans-serif;
    --button: "Open Sans", sans-serif;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ############################################################## */
/*                              SCROLL BAR                        */
/* ############################################################## */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}

body {
    overflow: hidden;
}

/* ############################################################## */
/*                              NAVIGATION BAR                    */
/* ############################################################## */

nav {
    background-color: var(--accent);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav .nav-container {
    display: flex;
    align-items: center;
}

nav .nav-container img {
    width: 2em;
    height: 2em;
    margin: 1em;
    border-radius: 0.2em;
}

nav .nav-container p {
    font-family: var(--heading);
    font-size: 1.5em;
}

/* ############################################################## */
/*                           MAIN BODY                            */
/* ############################################################## */

/* .main-container {
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url("../images/home_bg.jpg");
    text-align: center;

} */
.main-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/home_bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

.main-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.main-container>* {
    position: relative;
    z-index: 2;
}

.main-container h1 {
    font-family: var(--heading);
    font-size: 4em;
    color: var(--accent);
    text-shadow: 0 0 1px #000000;
}

.main-container a {
    font-family: var(--text);
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em;
    background: var(--accent);
    border-radius: 10px;
    width: 12em;
    font-family: var(--button);
    transition-duration: 0.25s;
}

.main-container a:hover {
    color: #ffffff;
    background: var(--hover);
}

/* ############################################################## */
/*                                   FOOTER                       */
/* ############################################################## */

footer {
    background-color: var(--accent);
    width: 100%;
    height: 5vh;
    ;
    bottom: 0;
    position: absolute;
    padding: 5px;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
